In [144]:
import pandas as pd
import math
import time

In [145]:
data=pd.read_csv("train.csv")

In [146]:
#extract week day and hour from the timestamp

def preprocess_day(timestamp):
    dico_day={"Mon":0,"Tue":1,"Wed":2,"Thu":3,"Fri":4,"Sat":5,"Sun":6}
    res=7*[0]
    res[dico_day[time.ctime(int(str(timestamp)[:-3]))[:3]]]=1
    return res

def preprocess_time(timestamp):
    res=24*[0]
    res[int(time.ctime(int(str(timestamp)[:-3]))[11:13])]=1
    return res

df=pd.DataFrame(data["timestamp"])
data["day"] = df.applymap(lambda x: preprocess_day(x))
data["time"] = df.applymap(lambda x: preprocess_time(x))
data = data.drop(columns="timestamp")

In [147]:
#replace the boolean by its int value
df=pd.DataFrame(data["user_verified"])
data["user_verified"]=df.applymap(lambda x: int(x))

In [148]:
#centrer & réduire
cols=["user_statuses_count","user_followers_count","user_friends_count"]
for c in cols:
    df=pd.DataFrame(data[c])
    m=data[c].mean()
    v=math.sqrt(data[c].var())
    data[c]=df.applymap(lambda x: (x-m)/v)

In [149]:
#count the number of 
def count_occ(s):
    if type(s)==str:
        return len(s.split(","))
    else:
        return 0

cols=["user_mentions","urls"]
for c in cols:
    df=pd.DataFrame(data[c])
    data[c]=df.applymap(lambda x: count_occ(x))

In [150]:
data

,id,retweet_count,user_verified,user_statuses_count,user_followers_count,user_friends_count,user_mentions,urls,hashtags,text,day,time
0,0,0,0,0.271991,-0.094948,-0.087929,0,0,NaN,Smh I give up,"[0, 1, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,0,0,-0.420002,-0.095378,-0.147277,0,0,NaN,"Most of us are Human Beings, but I think you m...","[0, 0, 0, 0, 0, 0, 1]","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,2,0,0,-0.390231,-0.094713,-0.024234,0,0,NaN,"Old dirty tricks Trump, at it again...like we ...","[0, 1, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,0,0,-0.094897,-0.095125,-0.141365,0,0,NaN,Seriously..... I worked 86 hours my last check...,"[0, 0, 0, 0, 0, 1, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,0,0,-0.417240,-0.095381,-0.151624,0,0,NaN,May ALMIGHTY ALLAH have mercy on us all. Only ...,"[1, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
665772,665772,0,0,0.240463,-0.094586,-0.048750,0,0,NaN,18 months dawg? Come on man...,"[0, 0, 0, 0, 0, 1, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
665773,665773,1,0,-0.404791,-0.094568,-0.138873,1,1,COVID19,Thank you to all of the nurses in our @Stanfor...,"[0, 0, 0, 0, 1, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
665774,665774,8,0,-0.414123,-0.095364,-0.144089,0,1,NaN,"'Post it' pearls for Palliative, End of Life a...","[0, 0, 0, 0, 1, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
665775,665775,0,0,-0.418550,-0.095383,-0.153710,0,0,NaN,His facial expressions are kind of looking for...,"[0, 1, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
665776,665776,0,0,-0.417149,-0.095323,-0.145191,0,0,NaN,We really can't wait.,"[0, 0, 0, 0, 0, 1, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."